include components/scroll
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= gradP.title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    script(src='../js/libs/flexible.js')
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../js/libs/anima-scroller/scroller.css')
    link(rel='stylesheet', href='../css/toast/toast.css')
  body
    .wrapper
      .banner-container
        img.banner(src='../imgs/banner.png', alt='')
      .once-container
        img.once(src='../imgs/once.png', alt='')
      .thousand-container
        .thousand
          p.addresing
            | 亲爱的，你知道吗:
          p.thousand-pitch
            | 进入社会前的最后一次实习
            br
            | 是你的第一次工作经验
            br
            | 对以后职业走向有重大意义~
          p.thousand-pitch
            | 选择一个好的实习单位
            br
            | 将对未来产生深远影响
            br
            | 那么，你有好的打算了吗？
          p.title-break
            | 让你有更多、更好的职位选择
            br
            | 你可以了解到名企的管理和培训方式
            br
            | 学习到大量实用工作技能
            br
            | 让你成为同级生中的佼佼者。
          p.thousand-pitch
            | 来给你的简历写上完美的第一笔
            br
            | 报名参与淘力千人实习计划吧！
      .media-container
        .media
          p.client-say
            | 美的是一家领先的消费家电及暖通空调系统全球性
            | 企业，提供多元化的产品种类，包括空调、冰
            | 箱、洗衣机、厨房家电、及各类小型家电。美的
            | 坚守 “为客户创造价值”的原则，致力创造美好
            | 生活。美的专注于持续的技术革新，以提升产品
            | 及服务质量，令生活更舒适、更美好。
      .galanz-container
        .galanz
          p.galanz-say
            | 格兰仕集团是一家世界级综合性白色家电品牌企业，是中国家电业具有强大影响力的龙头企业之一。格兰仕与中国改革开放同龄，在发展理念上始终坚持实干创新，专注实体经济，聚焦家电制造。围绕着“百年企业 世界品牌”的发展愿景，创业37年来，格兰仕立足广东，面向全国，走向全球，从轻纺领军企业，到微波炉世界领先，再到综合性、领先性白色家电集团，一直是中国制造在国际市场上的一张名片。
      .hisense-container
        .hisense
          p.hisense-say
            | 海信科龙电器股份有限公司是中国最大的白电产品制造企业之一，创立于1984年，总部位于中国广东顺德，主要生产冰箱、空调、冷柜和洗衣机等系列产品。1996年和1999年，公司股票分别在香港和深圳两地发行上市。
      #form-anchor.grab-container
        img.grab-opp(src='../imgs/grab_opp.png', alt='')
      //- The form starts from here
      .form-container
        form.apply-form
          .form-cell
            label(for='name')
              img(src='../imgs/icon_business_man.png', alt='')
            input#nameFocus(type='text', name='name', placeholder='姓名')
          .form-cell
            label(for='tel')
              img(src='../imgs/icon_mobile.png', alt='')
            input(type='text', name='tel', placeholder='电话')
          .form-cell
            label(for='university')
              img(src='../imgs/icon_school.png', alt='')
            input(type='text', name='university', placeholder='所在学校')
          .form-cell
            label(for='grad-date')
              img(src='../imgs/icon_graduation.png', alt='')
            input#J_select_date(readonly='', type='text', name='grad-date', placeholder='毕业时间')
          .form-cell
            label(for='ideal-city')
              img(src='../imgs/icon_world.png', alt='')
            input#selectCity(readonly='', type='text', name='ideal-city', placeholder='理想工作城市')
          .form-cell-multi
            .title-row
              img(src='../imgs/icon_experience.png', alt='')
              p
                | 过往工作/实习经历
                span.tips (如没有可填无)
            textarea(name='experience', rows='8', cols='40')
          .form-cell
            label(for='trial-date')
              img(src='../imgs/icon_clock.png', alt='')
            input#selectIn(readonly='', type='text', name='trial-date', placeholder='希望开始实习时间')
          .form-cell
            label(for='expected-salary')
              img(src='../imgs/icon_salary.png', alt='')
            input#selectExpected(readonly='', type='text', name='expected-salary', placeholder='期望薪资')
          .form-cell-apply-option
            .bg-title
              | 选报志愿
            img.icon-edit(src='../imgs/icon_edit.png', alt='')
          .form-cell
            label.apply-options(for='first-option') 1
            input#selectFirst(readonly='', type='text', name='first-option', placeholder='第一志愿')
          .form-cell
            label.apply-options(for='second-option') 2
            input#selectSecond(readonly='', type='text', name='second-option', placeholder='第二志愿')
          .form-cell-apply-option.last-option
            .bg-title-dispatch
              | 是否服从分配
            .dispatch-check-container
              .yes-container.on-select
                | 是
              .no-container
                | 否
          .button-container
            button.J_submit(type='button', name='button') 提交
      .statement-container
        .statement-title
          | 活动声明
        .statement-content
          | 1.本活动不收取用户任何费用；
          br
          | 2.用户资料将交给实习企业，请如实填写，如有信息不实而触犯任何法律责任的，本公司一概不负任何责任；
          br
          | 3.淘力拥有本次活动最终解释权。
      a.call-to-action(href='#form-anchor')
      .mask
      .popup
        .popup-title
          | 报名成功！
        p.tips-share
          | 你可以分享给有需要的人噢！
        .share-btn-row
          button.J_share-btn(type='button', name='button') 分享
        .wechat-row
          img.wechat-code(src='../imgs/tounick_barcode.png', alt='')
          .share-cloud
            p.follow-text
              strong 关注淘力微信
              | 第一时间接收到
              br
              | 最新的实习信息
        .share-arrow
      //- Graduation time select
      +scroll('', 2)
      //- Intern time select
      +scroll('In', 2)
      //- First job option select
      +scroll('First', 2)
      //- Second job option select\
      +scroll('Second', 2)
      //- Expected salary
      +scroll('Expected', 1)
      //- Select city
      +scroll('City', 2)
    //- end of wrapper
    if gradP.backEndUrl
      script.
        // 表单接口地址由后端输出
        var backEndUrl = "#{gradP.backEndUrl}";

    script(src='../js/common.js')
    script(src='../json/cityData.json')
    script(src='../js/libs/zepto/zepto.min.js')
    script(src='../js/libs/toast/toast.js')
    script(src='../js/libs/anima-scroller/scroller.js')
    script(src='../js/read.js')
    script(src='../js/tounick_scroll.js')
    script(src='../js/graduation.js')
