//for scroll
.m-dialog {
  display: none;
  position: fixed;
  z-index: 1100;
  .m-dialog-mark{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .m-scroller{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    .m-scroller-head {
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      font-size: 14px;
      overflow: hidden;
      &:after{
        width: 100%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #e8e8e8;
        transform: scaleY(.5);
        transform-origin: 0 100%;
      }
      a{
        padding: 0 10px;
        color: #8493a8;
        &:first-child{
          float: right;
        }
      }
    }
    .m-scroller-body {
      display: flex;
    }
  }
}

// Overwrite scroll plugin's original code so text won't overflow
.m-scroller{
  .scroller-item {
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }
}
